<nav>
    <ul>
        <li><a href="/" {% if page.url == "/" %}style="color: red;"{% endif %}>Home</a></li>
        <li><a href="/about.html" {% if page.url == "/about.html" %}style="color: red;"{% endif %}>About me</a></li>
    </ul>
</nav>

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    padding: 14px 16px;
}

nav a {
    text-decoration: none;
    color: black; /* Default color */
    padding: 0 15px; /* Adjust as needed */
}

nav a:hover {
    background-color: #ddd;
}
